.modal {
  &__status,
  &__species,
  &__origin,
  &__episodes {
    text-align: center;
    font-family: "Kalam", cursive;
    font-size: 20px;
    color: blanchedalmond;
    text-shadow: #97ce4c 1px 0 10px;
    -webkit-text-stroke: 0.5px #454545;
    margin-bottom: 10px;
  }
  &__name {
    text-align: center;
    font-family: "Kalam", cursive;
    font-size: 40px;
    color: blanchedalmond;
    text-shadow: #97ce4c 5px 0px 8px;
    -webkit-text-stroke: 0.8px #222;
    margin: 5px auto 10px auto;
  }
}
.url_norFound {
  font-family: "Kalam", cursive;
  color: blanchedalmond;
  font-size: 30px;
  text-shadow: #97ce4c 2px 1px 10px;
  text-align: center;
  margin-top: 50px;
  align-items: center;
}
